.container {
  min-width: max-content;
  display: flex;
  flex-direction: column;

  gap: 10px;

  position: relative;
}

.label {
  min-width: max-content;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

.label_required {
  margin-left: 0.3rem;

  font-size: 16px;
  color: red;
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;

  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.erase_button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}
