.form {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_button_wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.required_wrap {
  width: 310px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.required_wrap span {
  color: red;
  font-size: 16px;
  padding-right: 0.3rem;
}

.input_label_wrap {
  display: flex;
  flex-direction: row !important;

  align-items: center;
}

.input_label_wrap input {
  width: 250px;
}

.input_label_wrap input[type="checkbox"] {
  width: 14px;
}

.textarea_label_wrap {
  display: flex;
  flex-direction: row !important;
}
