.container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.15fr 0.3fr 1fr 0.5fr 0.5fr 0.3fr;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  border-right: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
}

.container > div:last-child {
  border-right: none;
}
