.search_wrap {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;

  gap: 30px;
}

.input_container {
  width: 400px;
}

.search_input {
  width: 400px !important;
  height: 35px !important;
}
