.card_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.title_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_link {
  font-size: 14px;
  color: rgb(23, 121, 192);
  text-decoration: underline rgb(23, 121, 192);
}

.grid_card_list {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.blue_text {
  font-size: 18px;
  font-weight: bold;
  color: rgb(23, 121, 192);
  text-decoration: underline rgba(23, 121, 192, 0.3);
  text-decoration-thickness: 3px;
}

.blue_text:hover {
  text-decoration: underline rgb(23, 121, 192);
  text-decoration-thickness: 3px;
}

.red_text {
  font-size: 18px;
  font-weight: bold;
  color: rgb(215, 25, 82);
  text-decoration: underline rgba(215, 25, 82, 0.3);
  text-decoration-thickness: 3px;
}

.red_text:hover {
  text-decoration: underline rgb(215, 25, 82);
  text-decoration-thickness: 3px;
}

.quantity_wrap {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
